In [1]:
import numpy as np 
import pandas as pd

In [5]:
path_coord = 'http://cocl.us/Geospatial_data'
path_neigh ='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [9]:
l_df_neigh = pd.read_html(path_neigh, header=0,keep_default_na=False) 
df_neigh = l_df_neigh[0]

In [10]:
df_neigh.columns = ['PostalCode','Borough','Neighborhood']
df_neigh.head()

df_neigh1 = df_neigh.query('Borough != "Not assigned"').reset_index(drop=True)

df_neigh2 = df_neigh1.groupby('PostalCode', as_index=False).agg(lambda x: ', '.join(set(x.dropna())))

df_neigh2.loc[df_neigh2['Neighborhood'] == 'Not assigned', 'Neighborhood' ] = df_neigh2['Borough']

In [11]:
df_coord = pd.read_csv(path_coord)

result = pd.merge(df_neigh2,
                 df_coord,
                 left_on = 'PostalCode',
                 right_on = 'Postal Code',
                 how = 'left')

In [12]:
merge_table = result[['PostalCode','Borough', 'Neighborhood', 'Latitude', 'Longitude']]
merge_table.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Highland Creek, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, West Hill, Morningside",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476